@if ((cartItems$ | async)?.length == 0) {
<div class="bg-white rounded flex items-center justify-center mt-5 mx-8 p-5">
  <span class="text-2xl font-medium text-center">Your cart is Empty!</span>
</div>
} @else {
<div>
  <div
    class="bg-white rounded flex flex-col items-center justify-center mt-5 mx-8 p-5"
  >
    <span class="text-2xl font-medium text-center">Your cart</span>

    <ul class="flex flex-col divide-y divide-gray-200 h-[400px] overflow-auto">
      @for (item of (cartItems$ | async); track $index) {
      <li class="flex flex-col py-6 sm:flex-row sm:justify-between">
        <div class="flex w-full space-x-2">
          <div class="">
            <img [src]="item.image" alt=" image" width="200" height="200" />
          </div>
          <div class="w-full h-full flex-col justify-between">
            <div>
              <span class="text-lg font-normal">{{ item.title }}</span>
              <span class="ml-5"
                ><button
                  (click)="removeItem(item.id)"
                  class="text-red-500 text-sm font-medium"
                >
                  Remove
                </button></span
              >
            </div>
            <div>
              <span class="text-lg font-medium">${{ item.price }}</span>
            </div>
            <div class="items-start justify-start mt-5">
              <form class="max-w-xs justify-start">
                <div class="relative flex items-center">
                  <button
                    type="button"
                    (click)="handleDecrement(item.id)"
                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
                  >
                    <svg
                      class="w-2.5 h-2.5 text-gray-900 dark:text-white"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 18 2"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h16"
                      />
                    </svg>
                  </button>
                  <div class="mx-5">{{ item.quantity }}</div>
                  <button
                    type="button"
                    (click)="handleIncrement(item.id)"
                    class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
                  >
                    <svg
                      class="w-2.5 h-2.5 text-gray-900 dark:text-white"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 18 18"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 1v16M1 9h16"
                      />
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</div>

}
